<nav>
  <div>
    <a href="/"><h1>Moheb's Blogs</h1></a>
    <p>Moheb's Blogspot</p>
  </div>
  <div>
    <div class="info">
      <% if(user){ %>
      <h3>Welcome, <%= user.email %></h3>
      <a href="/log-out" class="logbtn">Log Out</a>
      <%} else {%>
      <a href="/log-in" class="logbtn">Log In</a>
      <% } %>
    </div>
    <ul>
      <li><a href="/blogs" class="link">Blogs</a></li>
      <li><a href="/sign-up" class="link">Sign Up</a></li>
      <li><a href="/about" class="link">About</a></li>
      <li><a href="/blogs/create" class="link">New Blog</a></li>
    </ul>
  </div>
</nav>
