<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="create-blog content">
      <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
        <div class="email error"></div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <div class="password error"></div>
        <button>Submit</button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>
    <script>
      // const form = document.querySelectorAll('form')

      // form.addEventListener("submit", async (e) => {
      //   e,
      // }
    </script>
  </body>
</html>
