@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dcdcdc;
  text-transform: uppercase;
}

nav div:nth-child(2) {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style: none;
  margin-left: 20px;
}

nav h1 {
  font-size: 3em;
}

nav p,
.link {
  padding-bottom: 10px;
  color: #333;
  font-weight: 400;
}

.link.active {
  color: crimson;
  border-bottom: crimson 2px solid;
}

.info {
  display: flex;
  /* justify-content: flex-start; */
  align-items: baseline;
}

footer {
  color: #777;
  text-align: center;
  margin: 100px auto 20px;
}

.content {
  margin-left: 20px;
}
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}

.error {
  color: crimson;
}

.logbtn {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 10px;
  border-radius: 5px;
  background: crimson;
  color: white;
  padding: 4px 10px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}
button {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 20px auto 0px;
  border-radius: 5px;
  background: crimson;
  color: white;
  padding: 6px 10px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

a h3 {
  color: black;
}

a:hover h3 {
  color: crimson;
}

.blog {
  margin: 10px;
  padding: 10px 5px;
  position: relative;
}

.blog-title {
  color: crimson;
}

.blog-snippet {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 0px 0px 10px;
}

.login-box p {
  text-transform: lowercase;
}
.login-box {
  display: flex;
  text-transform: capitalize;
}

img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 30px;
  width: 100%;
}
